# Copy this to .config/systemd/user/actor.service

# Enable with systemctl --user enable actor.service
# Start with systemctl --user start actor.service
[Unit]
Description=Activity Monitor Daemon
After=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/actor-daemon
Restart=always
RestartSec=8s

[Install]
WantedBy=default.target
